<div class="row">
 <div class="col-md-12">
 <h2>Employees</h2>
 <hr />
 <div class="table-responsive">
    <table class="table">
                <thead>
                    <tr> 
                        <th> Employees Num </th>
                        <th> Full Name </th>
                        <th> Email </th>
                        <th> Address </th>
                        <th> Manager ID </th>
                        <th> Status </th>
                        <th> Department </th>
                        <th> Hire On </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each employees}}
                        <tr>
                            <td>{{this.employeeNum}}</td>
                            <td><a href="/employee/{{this.employeeNum}}">{{this.firstName}} {{this.lastName}}</a></td>
                            <td><a href="mailto:{{this.email}}">{{this.email}}</a></td>
                            <td>{{this.addressStreet}}, ,{{this.addressState}}, {{this.addressPostal}}</td>
                            <td><a href="/employees?manager={{this.employeeManagerNum}}">{{this.employeeManagerNum}}</a></td>
                            <td><a href='/employees?status={{this.status}}'>{{this.status}}</a></td>
                            <td><a href="/employees?department={{this.department}}">{{this.department}}</a></td>
                            <td>{{this.hireDate}}</td>
                        </tr>
                    {{/each}}
                </tbody>
    </table>
</div>